[MASTER]
disable = fixme,
          import-error,
          global-statement,
          invalid-name,
          too-few-public-methods,
          too-many-arguments,
          too-many-instance-attributes,
          too-many-locals,
          ungrouped-imports,
          unused-argument,
          wrong-import-order,
          attribute-defined-outside-init,
          unnecessary-lambda,
          duplicate-code,
          too-many-branches,
          consider-using-f-string

max-line-length = 120
max-statements = 100
ignore-docstrings = yes
init-hook='import sys; sys.setrecursionlimit(8 * sys.getrecursionlimit())' # to avoid https://stackoverflow.com/questions/36496192/pylint-infinite-recursion-in-astriod-package
